<div>
    <img src="cdvfile://localhost/persistent/package/example.png" width="100px" height="100px"><br>
    <input type="text" id="tts"><button id="say">Powiedz</button>
    <br>
    <button id="wake">Test wakeup in 2 minutes</button><br>
    <button id="cal">Read todays events from calendar</button><br>
    <button id="doonce">Prints only once in 10 seconds</button><br>
    <button id="daily">Prints only once a day</button>
    <button id="resetd">Resets the onceaday timer</button>
</div>
